* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Bai Jamjuree", sans-serif;
}

.container {
  width: 375px;
  margin: 0 auto;
}
.content {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  background-image: url(bg-header-mobile.png);
  background-repeat: no-repeat;

  padding: 5em 1.7em;
  font-family: "Bai Jamjuree", sans-serif;
}
.content h2 {
  opacity: 80%;
  font-weight: 600;
}
.content p {
  opacity: 50%;
  font-weight: 400;
}
.logo-image img {
  width: 90px;
  margin-top: 3em;
}
.head-text h1 {
  font-size: 1.8rem;
}
.head-text p {
  font-size: 0.8rem;
}
.head-text-links {
  margin: 2em;
  display: block;
}
.head-text-links .btn {
  display: block;
  margin: 1em 0;
  background: grey;
  padding: 0.7em;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
}
.head-text-links .btn.ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 2px 8px -2px hsl(171, 66%, 44%);
}
.head-text-links .btn {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 2px 8px -2px hsl(233, 100%, 69%);
}
.snippet {
  margin: 4em 0;
}
.snippet h2 {
  font-size: 1.4rem;
}
.snippet p {
  font-size: 0.8rem;
  line-height: 20px;
}
.comp-image img {
  width: 100%;
}
.comp-text h2 {
  font-size: 1.1rem;
}
.comp-text p {
  font-size: 0.8rem;
}
.clipboard {
  margin: 6em 0;
}
.clipboard-text h2 {
  font-size: 1.4rem;
}
.clipboard-text p {
  font-size: 0.8rem;
}
.clipboard-image img {
  margin-top: 3em;
  margin-bottom: -3em;
  width: 100%;
}
.chips img {
  width: 30px;
  margin-top: 2em;
}
.chips h3 {
  font-size: 1rem;
}
.chips p {
  font-size: 0.9rem;
}
.brands img {
  margin: 2em auto;
  font-size: 20px;
  width: 100px;
  display: block;
  text-align: center;
}
.clips h2 {
  font-size: 1.5rem;
}
.clips p {
  font-size: 0.8rem;
}
.clips-links {
  /* margin: 1em; */
  display: block;
}
.clips-links .btn {
  width: 80%;
  display: block;
  margin: 1em auto;
  background: grey;
  padding: 0.7em;
  border-radius: 20px;
  text-decoration: none;
  font-size: 0.9rem;
  color: white;
}
.clips-links .btn.ios {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0 2px 8px -2px hsl(171, 66%, 44%);
}
.clips-links .btn {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0 2px 8px -2px hsl(233, 100%, 69%);
}
footer {
  margin-top: 6em;
  padding-top: 2em;
  background-color: hsl(201, 11%, 66%, 0.3);
}
footer img {
  width: 50px;
  height: 50px;
}
footer .icons img {
  width: 18px;
  height: 18px;
  margin: 1em;
}
@media (min-width: 960px) {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .content {
    width: 100%;
    padding: 0;
    background-image: url(bg-header-desktop.png);
  }
  .content h1 {
    font-size: 2rem;
  }
  .content h2 {
    font-size: 1.6rem;
  }
  .content p {
    font-size: 1rem;
  }
  .content h3 {
    font-size: 1.3rem;
  }
  .logo-image img {
    width: 90px;
    margin-top: 6em;
  }
  .head-text {
    width: 50%;
    margin: 3em auto;
  }
  .head-text-links {
    display: block;
    margin: 0;
  }
  .head-text-links .btn {
    display: inline-block;
    margin: 1em 1em;
    padding: 0.7em;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    width: 40%;
  }
  .snippet {
    width: 50%;
    margin: 3em auto;
  }
  .comp {
    display: flex;
    /* gap: 2em; */
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  .comp img {
    margin-left: -10em;
    width: 650px;
  }
  .comp-text {
    width: 40%;
  }
  .comp-text .text {
    gap: 7em;
    text-align: left;
    margin: 3em;
    line-height: 20px;
  }
  .clipboard {
    width: 50%;
    margin: 8em auto;
  }
  .chips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 2em;
    margin: 2em auto;
    padding: 2em;
  }
  .brands {
    margin: 3em 0;
    display: flex;
    margin: 0.5em;
    gap: 0.5em;
  }
  .clips {
    width: 50%;
    margin: 4em auto;
  }
  .clips-links .btn {
    display: inline-block;
    margin: 1em 1em;
    padding: 0.7em;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    width: 40%;
    gap: 1em;
  }
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
  }
  .navs {
    display: flex;
    gap: 2em;
    text-align: left;
  }
}
